<h3 class="release-version">{{version}} ({{formatdate release-date}})</h3>
<div class="releases-row">
    <div class="col-xs-12 col-sm-16 col-md-6 col-lg-6 cLeftTable">
        <table>
            {{#each lefttable}}
            <tr>
                <td style="width: 96%">{{this}}</td>
                <td style="width: 1%; white-space: nowrap;"><a href="{{{basedownloadurl ../version this null}}}" class="cDownloadLinkIcon {{{isjson this}}}" name="{{this}}" data-pack="{{this}}" target="{{settarget this}}" ><img src="{{downloadimgurl this "../../img/download-bg-green-fill.svg" "../../img/right-bg-green-fill.svg"}}"></a></td>
                <td style="width: 1%; white-space: nowrap;"><a href="{{{basedownloadurl ../version this ".md5"}}}">{{checksome  this "md5"}}</a></td>
                <td style="width: 1%; white-space: nowrap;"><a href="{{{basedownloadurl ../version this ".sha1"}}}">{{checksome this "SHA-1"}}</a></td>
                <td style="width: 1%; white-space: nowrap;"><a href="{{{basedownloadurl ../version this ".asc"}}}">{{checksome this "asc"}}</a></td>
            </tr>
            {{/each}}
    </table>

    </div>
    <div class="col-xs-12 col-sm-16 col-md-6 col-lg-6 cRightTable">
        <table>
            {{#each righttable}}
            <tr>
                <td style="width: 96%">{{this}}</td>
                <td style="width: 1%; white-space: nowrap;"><a href="{{{basedownloadurl ../version this null}}}" class="cDownloadLinkIcon {{{isjson this}}}" name="{{this}}" data-pack="{{this}}" target="{{settarget this}}" ><img src="{{downloadimgurl this "../../img/download-bg-green-fill.svg" "../../img/right-bg-green-fill.svg"}}"></a></td>
                <td style="width: 1%; white-space: nowrap;"><a href="{{{basedownloadurl ../version this ".md5"}}}">{{checksome  this "md5"}}</a></td>
                <td style="width: 1%; white-space: nowrap;"><a href="{{{basedownloadurl ../version this ".sha1"}}}">{{checksome this "SHA-1"}}</a></td>
                <td style="width: 1%; white-space: nowrap;"><a href="{{{basedownloadurl ../version this ".asc"}}}">{{checksome this "asc"}}</a></td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
<div class="cArchivedReleaseNotes">
    <a class="cArchivedReleaseNotesLink" data-toggle="collapse" data-target="#{{{releasenotesdiv version}}}">RELEASE NOTES</a>
    <div id="{{{releasenotesdiv version}}}" class="collapse">
        Loading...
    </div>
</div>
<div class="clearfix"></div>
